{% extends 'base.html' %}

{% block content %}
  <h2>DETAIL</h2>
  <hr>
  {% if music.image %}
    <img src="{{music.image.url}}" alt="{{music.image}}">
  {% endif %}
  <p>제목 : {{ music.title }} </p>
  <p>가수 : {{ music.artist }} </p>
  <p>장르 : {{ music.genre }} </p>
  <p>{{ music.description }} </p>
  <hr>
  <form action="{% url 'musics:delete' music.pk %}" method='POST'>
    {% csrf_token %}
    <input type="submit" value='삭제'>
  </form>
  <a href="{% url 'musics:index' %}">[BACK]</a>
  <a href="{% url 'musics:update' music.pk %}">[수정하기]</a>

  <h3>댓글 목록</h3>
  
  {% if comments %}
    <p><b>{{comments|length}}개의 댓글</b></p>
  {% endif %}

  <ul>
    {% for comment in comments %}
    <li>
      {{comment.content}} - {{comment.user}}
      {% if request.user == comment.user %}
        <form action="{% url 'musics:comments_delete' music.pk comment.pk%}" method="POST">
          {% csrf_token %}
          <input type="submit" value="DELETE">
        </form>
      {% endif %}
    </li>
    {% empty %}
      <li>댓글이 없습니다</li>
    {% endfor %}
  </ul>
  <hr>
  {% if request.user.is_authenticated %}
    <form action="{% url 'musics:comments_create' music.pk %}" method="POST">
      {% csrf_token %}
      {{comment_form}}
      <input type="submit" value="저장">
    </form>
  {% else %}
    <a href="{% url 'accounts:login' %}">댓글을 작성하려면 로그인하세요</a>
  {% endif %}

{% endblock content %}

