{% extends 'base.html' %}
{% load static %}

{% block static %}
  <link rel="stylesheet" href="{% static 'musics/css/index.css' %}">
{% endblock static %}


{% block content %}
{% load static %}
<div class="songcontainer">
  {% for music in musics %}
    <p> {{ music.image }} </p>
    <p> 가수 : <a href="{% url 'musics:detail' music.pk %}">
      {{ music.artist }}
    </a></p>
    {% if request.user.is_authenticated %}
      <div>
        <form action="{% url 'musics:likes' music.pk %}" method="POST">
          {% csrf_token %}
          {% if request.user in music.like_users.all %}
            <input type="submit" value="좋아요 취소!">
          {% else %}
            <input type="submit" value="좋아요">
          {% endif %}
        </form>
      </div>
    {% endif %}
  {% endfor %}
</div>
{% endblock content %}

