{% extends 'base.html' %}

{% load static %}

{% block content %}
  <h1>{{ person.username }}님의 프로필</h1>
  <hr>

  <div class="main_image">
    <img src="{% static 'musics/lecord.png' %}"alt="base_profile" width="1400" height="1000" class="border position-relative img-fluid">
  
  
    <div class="main_profile border top-50 start-50 translate-middle badge" style="position: absolute;">
      <div class="d-flex justify-content-end">

        <div class="like_music me-4 text-center">
          {{person.like_musics.count}}
          <p>좋아하는 노래수</p>
        </div>

        <div class="followers me-4 text-center">
          {{ person.followers.count}}
          <p>팔로워</p>
        </div>
    
        <div class="following me-4 text-center">
          {{ person.followings.count }}
          <p>팔로잉</p>
        </div>
      </div>
      <form class="d-flex justify-content-end pe-3" action="{% url 'accounts:follow' person.pk %}" method='POST'>
        {% csrf_token %}
        {% if request.user in person.followers.all %}
          <button type="submit" class="btn btn-danger rounded-pill">언팔로우</button>
        {% else %}
          <button type="submit" class="btn btn-primary rounded-2" style="width : 200px;" >팔로우</button>
        {% endif %}
      </form>
    </div> 
    
  </div>
  <br>
 
  <br>
  <h5>{{ person.username }}님이 작성한 게시글</h5>
  {% for music in person.music_set.all %}

  <div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ music.title }}</h5>
        <p class="card-text">{{ music.discription }}</p>
        <a href="{% url 'musics:detail' music.pk %}" class="btn btn-primary">자세히 보기</a>

    </div>
  </div>
  {% endfor %}

  <hr><br><br>
  <h5>{{ person.username }}님이 좋아한 노래래</h5>
  {% for music in person.like_musics.all %}
  <div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ music.title }}</h5>
        <p class="card-text">{{ music.content }}</p>
        <a href="{% url 'musics:detail' music.pk %}" class="btn btn-primary">자세히 보기</a>
    </div>
  </div>
  {% endfor %}
  <hr><br><br>

  <a href="{% url 'musics:index' %}" class='btn btn-success'>목록보기</a>

{% endblock content %}